body {
    margin: 0;
    line-height: normal;
    }

.logo-brands-democracy-1-icon {
    position: absolute;
    top: 314px;
    left: 155px;
    width: 140px;
    height: 140px;
    object-fit: cover;
}
.firma-brandsdemocracy-ana-mari-icon {
    position: absolute;
    top: 855px;
    left: 661px;
    width: 419px;
    height: 80px;
    object-fit: cover;
}
.bannner-puno-espanol-1-icon {
    position: absolute;
    top: 135px;
    left: 664px;
    width: 416px;
    height: 208px;
    object-fit: cover;
}
.logo-brands-democracy-1 {
    position: absolute;
    top: 135px;
    left: 176px;
    width: 401px;
    height: 142px;
    object-fit: cover;
}
.post-altra-5-1-icon {
    position: absolute;
    top: 417px;
    left: 661px;
    width: 190px;
    height: 190px;
    object-fit: cover;
}
.ohio-collegiate-regular {
    position: absolute;
    top: 333px;
    left: 340px;
    font-size: 32px;
    font-family: 'Ohio Collegiate';
    color: #233a6b;
    display: inline-block;
    width: 253px;
    height: 39px;
}
.fonts {
    position: absolute;
    top: 311px;
    left: 352px;
    font-size: 12px;
    display: inline-block;
    width: 43px;
    height: 14px;
}
.colors {
    position: absolute;
    top: 470px;
    left: 175px;
    font-size: 12px;
    display: inline-block;
    width: 56px;
    height: 14px;
}
.social-media-posts {
    position: absolute;
    top: 395px;
    left: 661px;
    font-size: 12px;
    display: inline-block;
    width: 140px;
    height: 14px;
}
.email-signature {
    position: absolute;
    top: 836px;
    left: 664px;
    font-size: 12px;
    display: inline-block;
    width: 140px;
    height: 14px;
}
.logomark {
    position: absolute;
    top: 311px;
    left: 173px;
    font-size: 12px;
    display: inline-block;
    width: 81px;
    height: 14px;
}
.anton {
    position: absolute;
    top: 368px;
    left: 351px;
    font-size: 24px;
    font-family: 'Anton SC';
    color: #233a6b;
}
.macbook-air-1-child {
    position: absolute;
    top: 494px;
    left: 176px;
    background-color: #ffdd00;
    width: 111px;
    height: 111px;
}
.macbook-air-1-item {
    position: absolute;
    top: 495px;
    left: 330px;
    background-color: #233a6b;
    width: 109px;
    height: 110px;
}
.macbook-air-1-inner {
    position: absolute;
    top: 495px;
    left: 475px;
    background-color: #f3f3f3;
    width: 109px;
    height: 110px;
}
.ffdc00 {
    position: absolute;
    top: 508px;
    left: 183px;
    display: inline-block;
    width: 71px;
    height: 18px;
}
.c-0 {
    margin: 0;
    white-space: pre-wrap;
}
.c-0-m-container {
    position: absolute;
    top: 532px;
    left: 183px;
    text-align: justify;
    display: inline-block;
    width: 33px;
    height: 50px;
}
.c-100-m-container {
    position: absolute;
    top: 532px;
    left: 338px;
    color: #f3f3f3;
    text-align: justify;
    display: inline-block;
    width: 39px;
    height: 50px;
}
.c-6-m-container {
    position: absolute;
    top: 532px;
    left: 483px;
    text-align: justify;
    display: inline-block;
    width: 39px;
    height: 50px;
}
.r-255-g-container {
    position: absolute;
    top: 532px;
    left: 243px;
    display: inline-block;
    width: 33px;
    height: 50px;
}
.r-35-g-container {
    position: absolute;
    top: 532px;
    left: 391px;
    color: #f3f3f3;
    display: inline-block;
    width: 33px;
    height: 50px;
}
.r-243-g-container {
    position: absolute;
    top: 516px;
    left: 536px;
    display: inline-block;
    width: 33px;
    height: 50px;
}
.f3f3f3 {
    position: absolute;
    top: 506px;
    left: 483px;
    display: inline-block;
    width: 62px;
    height: 17px;
}
.a6b {
    position: absolute;
    top: 508px;
    left: 338px;
    color: #f3f3f3;
    display: inline-block;
    width: 65px;
    height: 18px;
}
.instagram-story-generico-puno-icon {
    position: absolute;
    top: 417px;
    left: 861px;
    width: 219px;
    height: 390px;
    object-fit: cover;
}
.this-concept-of {
    margin: 0;
}
.this-concept-of-container {
    position: absolute;
    top: 768px;
    left: 176px;
    font-size: 14px;
    text-align: justify;
    display: inline-block;
    width: 408px;
    height: 175px;
}
.instagram-post-lyle-scott-2-1-icon {
    position: absolute;
    top: 617px;
    left: 661px;
    width: 190px;
    height: 190px;
    object-fit: cover;
}
.rectangle-div {
    position: absolute;
    top: 648px;
    left: 176px;
    background-color: #233a6b;
    width: 207px;
    height: 89px;
}
.macbook-air-1-child1 {
    position: absolute;
    top: 648px;
    left: 383px;
    background-color: #cfd3db;
    width: 200px;
    height: 89px;
}
.logo-brands-democracy-blue-1 {
    position: absolute;
    top: 662px;
    left: 408px;
    width: 158px;
    height: 60px;
    overflow: hidden;
    object-fit: cover;
}
.logo-brands-democracy-white-1 {
    position: absolute;
    top: 663px;
    left: 203px;
    width: 158px;
    height: 59px;
    overflow: hidden;
    object-fit: cover;
}
.macbook-air-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1040px;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
    color: #000;
    font-family: Montserrat;
}

