body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f8;
}

.white-back{
  background-color: #ffffff;
  width: 100%;
  height: 320px;
  padding: 0;
  margin: 0;
}

h1 {
  padding-top: 25%;
  color: #6B4E71;
  margin-bottom: 0px;
  font-size: 2rem;
}

h3 {
  text-align:center;
  margin-top: 0px;
  padding-top: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 0px;
  flex-direction: column;
}


header {
  display: flex;
  justify-content: center;
  gap: 250px;
}

.hello {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  text-align: center;
  padding-left: 30px;
}

.intro {
  padding-top: 0px;
  margin-bottom: 0px;
}

.hero {
  display: flexbox;
  justify-content: flex-end; 
  max-height: 300px;
}

.menu-container {
  max-width: 1000px; /* Same as the max-width of main content */
  width: 100%;
  margin: 0 auto; /* Center align the container */
  padding: 20px;
}

main {
  max-width: 1000px; /* Limit the width of the main content */
  width: 100%; /* Ensure it takes full width of container */
  text-align: justify;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

li {
  padding-right: 5vh;
  list-style-type: none;
  color: #ffffff;
}

.skills {
  display: flex;
  justify-content: space-evenly;
}

.tech-icons {
  max-width: 12vh;
}

.professional-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.professional-skill-cell {
  flex: 1 1 200px;
  background-color: #AC9DAF; 
  padding: 20px;
  /*border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  text-align: center;
}

.professional-skill-cell img {
  display: block;
  margin: 0 auto 10px; /* Center the image and add some margin below it */
}

.gallery {
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.gallery-image {
  flex: 1 1 200px;
  width: 30vh;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1.7vh;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
}

h3 {
  padding-top: 50px;
  color: #6B4E71;
}



div, section{
  padding-bottom: 50px;
}

.pro-img {
  width: 50%;
}