* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 10vw;
  letter-spacing: -0.2em;
  color: rgba(100, 100, 100, 0.85);
  margin-top: 1%;
}

/* Adjustments for smaller screens */
@media (max-width: 1200px) {
  .titulo {
    font-size: 10vw;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 10vw;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 10vw;
  }
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  background-color: #f7f7f8;
  line-height: 1.6;
}

/*top menu*/
.menu-container {
  max-width: 1000px; /* Same as the max-width of main content */
  width: 100%;
  margin: 0 auto; /* Center align the container */
  padding: 20px;
} 

.menu-link {
  text-decoration: none;
  color: #53687e;
}

/*white horozontal stripe*/
.white-back {
  background-color: #ffffff;
  width: 100%;
  height: 320px;
  padding: 0;
  margin: 0;
}

h1 {
  color: #6b4e71;
  margin-bottom: 0px;
  font-size: 4vw;
  font-weight:400;
  line-height: 0.8em;
}

/* Adjustments for smaller screens */
@media (max-width: 1200px) {
  h1 {
    font-size: 4vw;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 4vw;
  }
}

h3 {
  text-align: center;
  margin-top: 0px;
  padding-top: 50px;
  color: #6b4e71;
}

p {
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 0px;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  gap: 250px;
  flex-wrap: wrap;
}

.los-osos {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

.los-osos img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


@media only screen and (max-width: 768px) {
  .white-back {
    background-color: transparent; /* Eliminar el fondo blanco */
    height: auto; /* Permitir que el contenedor se ajuste a su contenido */
  }
  .secciones {
    margin-left: 15%;
    padding-top: 50px;
  }
}

.hello {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  padding-left: 30px;
  text-align: left;
}

.intro {
  padding-top: 0px;
  margin-bottom: 0px;
}

.hero {
  display: flexbox;
  justify-content: center;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Main content area styling */
main {
  max-width: 1000px; /* Limit the width of the main content */
  width: 100%; /* Ensure it takes full width of container */
  text-align: justify;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px;
}

nav li {
  color: #53687e;
}

li {
  padding-right: 20px;
  list-style-type: none;
  color: #ffffff;
}

.secciones {
  padding-top: 50px;
}

.titles-sections {
  position: relative;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  margin: 20px auto;
}

.titles-sections::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Adjust height as necessary */
  background-color: #ac9daf; /* Change to desired color */
  margin-top: 10px; /* Adjust margin as necessary */
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-icons {
  max-width: 6vh;
}

.professional-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.professional-skill-cell {
  flex: 1 1 20px;
  background-color: #ac9daf;
  padding: 20px;
  text-align: center;
}

.professional-skill-cell img {
  display: block;
  margin: 0 auto 10px; /* Center the image and add some margin below it */
}

.bg-color-1 {
  background-color: #6b4e71;
}

.color-1 {
  color: #f5dddd;
}

.bg-color-2 {
  background-color: #ececec;
}

.color-2 {
  color: #a0aab5;
}

.bg-color-3 {
  background-color: #ac9daf;
}

.color-3 {
  color: #53687e;
}

.bg-color-4 {
  background-color: #ececec;
}

.color-4 {
  color: #6b4e71;
}

.bg-color-5 {
  background-color: #c2b2b4;
}

.color-6 {
  color: #ececec;
}

.bg-color-6 {
  background-color: #8c7690;
}

.color-5 {
  color: #6b4e71;
}

.gallery {
  max-width: 1050px;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
}

.gallery-image {
  width: 100%;
  height: auto;
}
.newsletter img {
  width:100%;
}
@media only screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr); /* 1 columns for mobile */
  }
  .newsletter img {
    width: 100%;
  }
}
.video-section {
  width: 100%;
  height: auto;
  overflow: hidden; /* Prevent any overflow issues */
}

.video-section video {
  width: 100%; /* Make the video responsive */
  height: auto;
}

/* Footer section */
footer {
  display: flex;
  justify-content: center;
  font-size: 1.7vh;
  margin-bottom: 50px;
  width: 100%;
}


@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 0px;
  }

  .tech-icons {
    max-width: 8vh; /* Reducir el tamaño de los iconos en pantallas más pequeñas */
  }

  footer {
    display: flex;
    justify-content: center;
    font-size: 1.2vh;
    margin-bottom: 50px;
    width: 100%;
  }
}

h3 {
  padding-top: 50px;
  color: #6b4e71;
}

div,
section {
  margin-bottom: 60px;
}

.pro-img {
  width: 100px;
  height: 100px;
}
